.formattedSource__prefix {
  background-color: rgba(0,46,63,.1);
  padding: 1px 5px;
  font-weight: bold;
}

.formattedSource__keys {
  display: inline;
  list-style: none;
  margin: 0 0 0 5px;
  padding: 0;
}

.formattedSource__key {
  display: inline;
}

.formattedSource__key:not(:last-child):after {
  content: ", ";
}
