<div class="kuiLocalNav">
  <div class="kuiLocalNavRow">
    <div class="kuiLocalNavRow__section">
      <div class="kuiLocalTitle">
        Surrounding Documents in {{ contextApp.selectors.getIndexPatternParameter().id }}
      </div>
    </div>
  </div>
  <div class="kuiLocalNavRow kuiLocalNavRow--secondary">
    <div class="kuiLocalTabs">
      <div class="kuiLocalTab kuiLocalTab-isSelected" ng-bind="contextApp.selectors.getAnchorUidParameter()"></div>
    </div>
  </div>
</div>

<!-- Error feedback -->
<div
  class="kuiViewContent kuiViewContentItem"
  ng-if="contextApp.selectors.hasFailedLoadingAnchorDocument()"
>
  <div class="kuiInfoPanel kuiInfoPanel--error kuiVerticalRhythm">
    <div class="kuiInfoPanelHeader">
      <span class="kuiInfoPanelHeader__icon kuiIcon kuiIcon--error fa-warning"></span>
      <span class="kuiInfoPanelHeader__title">
        Problem with query
      </span>
    </div>

    <div class="kuiInfoPanelBody">
      <div class="kuiInfoPanelBody__message">
        Failed to load the anchor document. Please reload or visit
        <a ng-href="{{ contextApp.state.navigation.discover.url }}">Discover</a>
        to select a valid anchor document.
      </div>
    </div>
  </div>
</div>

<div
  class="kuiViewContent kuiViewContentItem"
  ng-if="!contestApp.selectors.hasFailedLoadingAnchorDocument()"
  role="main"
>
  <!-- Controls -->
  <div class="kuiBar kuiVerticalRhythm">
    <div class="kuiBarSection">
      <context-loading-button
        data-test-subj="predecessorLoadMoreButton"
        is-disabled="contextApp.selectors.isLoadingPredecessorDocuments()"
        icon="'fa-chevron-up'"
        ng-click="contextApp.actions.fetchGivenPredecessorDocuments(
          contextApp.selectors.getIndexPatternParameter(),
          contextApp.selectors.getAnchorDocument().sort,
          contextApp.selectors.getSortParameter(),
          contextApp.selectors.getPredecessorCountParameter() + contextApp.selectors.getStepSizeParameter()
        )"
      >
        Load {{ contextApp.selectors.getStepSizeParameter() }} more
      </context-loading-button>
      <context-size-picker
        count="contextApp.selectors.getPredecessorCountParameter()"
        data-test-subj="predecessorCountPicker"
        is-disabled="contextApp.selectors.isLoadingPredecessorDocuments()"
        on-change-count="contextApp.actions.fetchGivenPredecessorDocuments"
      ></context-size-picker>
      <span>newer documents</span>
      <span
        class="kuiStatusText kuiStatusText--warning"
        ng-if="contextApp.selectors.hasLoadedPredecessorDocuments()
          && contextApp.selectors.hasFewerPredecessorDocuments()"
      >
        <span class="kuiStatusText__icon kuiIcon fa-bolt"></span>
        <span ng-bind-template="Only {{ contextApp.selectors.getPredecessorDocuments().length }} documents newer than the anchor could be found."></span>
      </span>
    </div>

    <div class="kuiBarSection">
    </div>
  </div>

  <!-- Loading feedback -->
  <div
    ng-if="contextApp.selectors.isLoadingAnchorDocument()"
    class="kuiPanel kuiPanel--centered kuiVerticalRhythm"
  >
    <div class="kuiLoadingItems">
      Loading&hellip;
    </div>
  </div>

  <!-- Table -->
  <div
    ng-if="!contextApp.selectors.isLoadingAnchorDocument()"
    class="kuiPanel kuiVerticalRhythm"
  >
    <div class="discover-table" fixed-scroll>
      <doc-table
        hits="contextApp.selectors.getAllDocuments()"
        index-pattern="contextApp.selectors.getIndexPatternParameter()"
        sorting="contextApp.selectors.getSortParameter()"
        columns="contextApp.selectors.getColumnsParameter()"
        infinite-scroll="true"
      ></doc-table>
    </div>
  </div>

  <!-- Controls -->
  <div class="kuiBar kuiVerticalRhythm">
    <div class="kuiBarSection">
      <context-loading-button
        data-test-subj="successorLoadMoreButton"
        is-disabled="contextApp.selectors.isLoadingSuccessorDocuments()"
        icon="'fa-chevron-down'"
        ng-click="contextApp.actions.fetchGivenSuccessorDocuments(
          contextApp.selectors.getIndexPatternParameter(),
          contextApp.selectors.getAnchorDocument().sort,
          contextApp.selectors.getSortParameter(),
          contextApp.selectors.getSuccessorCountParameter() + contextApp.selectors.getStepSizeParameter()
        )"
      >
        Load {{ contextApp.selectors.getStepSizeParameter() }} more
      </context-loading-button>
      <context-size-picker
        count="contextApp.selectors.getSuccessorCountParameter()"
        data-test-subj="successorCountPicker"
        is-disabled="contextApp.selectors.isLoadingSuccessorDocuments()"
        on-change-count="contextApp.actions.fetchGivenSuccessorDocuments"
      ></context-size-picker>
      <div>older documents</div>
      <span
        class="kuiStatusText kuiStatusText--warning"
        ng-if="contextApp.selectors.hasLoadedSuccessorDocuments()
          && contextApp.selectors.hasFewerSuccessorDocuments()"
      >
        <span class="kuiStatusText__icon kuiIcon fa-bolt"></span>
        <span ng-bind-template="Only {{ contextApp.selectors.getSuccessorDocuments().length }} documents older than the anchor could be found."></span>
      </span>
    </div>

    <div class="kuiBarSection">
    </div>
  </div>
</div>
