<div class="kuiLocalNav">
  <div class="kuiLocalNavRow">
    <div class="kuiLocalNavRow__section">
      <div class="kuiLocalBreadcrumbs">
        <div class="kuiLocalBreadcrumb">
          <a class="kuiLocalBreadcrumb__link" href="#/discover">Discover</a>
        </div>
        <div class="kuiLocalBreadcrumb" ng-bind="contextApp.state.queryParameters.indexPattern.id"></div>
      </div>
    </div>
  </div>
  <div class="kuiLocalNavRow kuiLocalNavRow--secondary">
    <div class="kuiLocalTabs">
      <div class="kuiLocalTab kuiLocalTab-isSelected" ng-bind-template="Context of {{ contextApp.state.queryParameters.anchorUid }}"></div>
    </div>
  </div>
</div>

<div class="kuiViewContent kuiViewContentItem" role="main">
  <div class="kuiInlineFormGroup">
    <context-loading-button
      disabled="contextApp.derivedState.isLoadingPredecessorRows()"
      icon="'fa-chevron-up'"
      ng-click="contextApp.actions.fetchMorePredecessorRows()"
      ng-if="!contextApp.derivedState.isLoadingAnchorRow()"
    >
      Load newer entries
    </context-loading-button>

    <input
      class="kuiTextInput contextSizePicker__item contextSizePicker__sizeInput"
      ng-model-options="{updateOn: 'change', getterSetter: true, debounce: 200}"
      ng-model="contextApp.getOrSetPredecessorCount"
      type="number"
    >

    <div class="contextSizePicker__item">entries</div>
  </div>

  <div class="discover-overlay" ng-if="contextApp.derivedState.isLoadingAnchorRow()">
    <h2>Loading...</h2>
  </div>
  <div class="discover-table" ng-if="!contextApp.derivedState.isLoadingAnchorRow()" fixed-scroll>
    <doc-table
      hits="contextApp.derivedState.rows()"
      index-pattern="contextApp.state.queryParameters.indexPattern"
      sorting="contextApp.state.queryParameters.sort"
      columns="contextApp.state.queryParameters.columns"
      infinite-scroll="true"
    >
    </doc-table>
  </div>

  <div class="kuiInlineFormGroup">
    <context-loading-button
      disabled="contextApp.derivedState.isLoadingSuccessorRows()"
      icon="'fa-chevron-down'"
      ng-click="contextApp.actions.fetchMoreSuccessorRows()"
      ng-if="!contextApp.derivedState.isLoadingAnchorRow()"
    >
      Load older entries
    </context-loading-button>

    <input
      class="kuiTextInput contextSizePicker__item contextSizePicker__sizeInput"
      ng-model-options="{updateOn: 'change', getterSetter: true, debounce: 200}"
      ng-model="contextApp.getOrSetSuccessorCount"
      type="number"
    >

    <div class="contextSizePicker__item">entries</div>
  </div>
</div>
